<div class="row">
    <div class="col-sm-12">
        <button
                type="submit"
                class="btn btn-primary float-to-right generate"
        >Clique aqui para gerar seu boleto</button>
    </div>
</div>
